{% extends 'base.html' %}

{% block content %}
<h1>Enter a Pokemon's Name to see it's info:</h1>
<form method="POST">
    <p>
        {{ form.pokemon_name }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

{% if pokemon_data %}
<div class="pokemon">
    <div class="card" style="width: 18rem;">
        <img src="{{ pokemon_data.sprite }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ pokemon_data.name }}</h5>
            <p class="card-text">{{ pokemon_data.ability }}</p>
            <p class="card-text">HP: {{ pokemon_data.hp }}</p>
            <p class="card-text">Attack: {{ pokemon_data.attack }}</p>
            <p class="card-text">Defense: {{ pokemon_data.defense }}</p>
            {% if current_user.is_anonymous == False %}
            <a href="{{ url_for('catch_pokemon', pokemon_id=pokemon_data.pokemon_id) }}"
                class="btn btn-primary">Catch</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}